.game{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: rgb(224, 157, 33);;
}

h2{
    position: relative;
    top: -15%;
    font-size: 4.5rem;
    text-align: center;
}


p{
    position: relative;
    top: -10%;
    text-align: center;
    width: 30%;
    margin-top: 0;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(244, 255, 255);
    border: 1px solid rgb(255, 253, 250);
    background-color: rgb(224, 157, 33);
    padding: .5rem 1.5rem;
    position: relative;
    top: 10%;
}




@media (max-width: 600px){
    h2{
        position: relative;
        top: -10%;
        font-size: 2.5rem;
        text-align: center;
    }
    
    
    p{
        position: relative;
        top: -5%;
        text-align: center;
        width: 60%;
        margin-top: 0;
        font-size: 1rem;
    }
    
    a{
        text-decoration: none;
        font-size: 1.5rem;
        color: rgb(244, 255, 255);
        border: 1px solid rgb(255, 253, 250);
        background-color: rgb(224, 157, 33);
        padding: .3rem 1.3rem;
        position: relative;
        top: 10%;
    } 
}

